{% load humanize %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Exchange</th>
      <!-- <th scope="col">USD/Volume/(24h)</th> -->
      <th scope="col">USD/Price</th>
      <th scope="col">Volume/(24h)</th>
      <th scope="col">BTC/Price</th>
    </tr>
  </thead>
  <tbody>
    {% for exchange in exchanges %}
    <tr>
      <td><a href="{{ exchange.url }}" target="_blank">{{ exchange.name }}</a></td>
      <!--<td>BBP {{ exchange.usd_volume24h }}</td> -->
      <td>$&nbsp;{{ exchange.usd_price }} {% if exchange.usd_price_var != '' %}({{ exchange.usd_price_var }}%){% endif %}</td>
      <td>{{ exchange.btc_volume24h }}</td>
      <td>{{ exchange.btc_price|stringformat:".8f" }} {% if exchange.btc_price_var != '' %}({{ exchange.btc_price_var }}%){% endif %}</td>
    </tr>
    {% endfor %}
</table>