<table class="table responsive">
  <thead>
    <tr>
      <th scope="col">Transaction hash</th>
      <th scope="col">Block</th>
      <!--<th scope="col">Recipients</th>-->
      <th scope="col">Amount (BBP)</th>
      <th scope="col">Timestamp</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in last_transaction %}
    <tr>
      <td data-label="Hash" class="only-responsive"><a href="http://explorer.biblepay.org:3001/tx/{{ transaction.txid }}" target="_blank">{{ transaction.txid|slice:"0:24" }}...</a></td>
      <td data-label="Hash" class="non-responsive"><a href="http://explorer.biblepay.org:3001/tx/{{ transaction.txid }}" target="_blank">{{ transaction.txid }}</a></td>

      <td data-label="Block"><a href="http://explorer.biblepay.org:3001/block/{{ transaction.block_hash }}" target="_blank">{{ transaction.height }}</a></td>
      <!--<td>{{ transaction.recipient_count }}</td>-->
      <td data-label="Amount (BBP)">{{ transaction.amount }}</td>
      <td data-label="Timestamp">{{ transaction.timestamp }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>