<div class="col-sm">
    <div class="card">
        <div class="card-header">
            APIs
        </div>
        <div class="card-body">
            <p>
                Every modern Blockchain has a lot of 3rd-Party APIs, and Biblepay is no different. Dig deep into these and access the full power of biblepay.
            </p>
            
            <ul>
                <li>
                    <b>Biblepay Client</b><br>
                    Use the official Biblepay commandline client  (biblepay-cli) to access all the details of the Biblepay Blockchain or use the RPC Interface of the daemon for your own services.
                    <br><br>
                </li>
                <li>
                    <b>Explorer API</b><br>
                    The Biblepay-Central Explorer API offers some important webbased APIs, to understand and analyse the Biblepay Blockchain easily as REST/JSON Webservice.<br>
                    <br>
                    <a href="https://explorer.biblepay-central.org/info" target="_blank">https://explorer.biblepay-central.org/info</a>
                </li>                
            </ul>
        </div>
    </div>
</div> 