<div class="col-sm overview-exchanges">
    <div class="card">
        
        <div class="card-body">

          <table class="table responsive ">
            <thead>
              <tr>
                <th scope="col">Exchange</th>
                <!-- <th scope="col">USD/Volume/(24h)</th> -->
                <th scope="col">USD/Price</th>
                <th scope="col">Volume/(24h)</th>
                <th scope="col">BTC/Price</th>
              </tr>
            </thead>
            <tbody>
              
              {% for exchange in exchanges %}
              <tr>
                <td data-label="Exchange"><a href="{{ exchange.url }}" target="_blank">{{ exchange.name }}</a></td>
                <!--<td>BBP {{ exchange.usd_volume24h }}</td> -->
                <td data-label="USD/Price">$&nbsp;{{ exchange.usd_price }} {% if exchange.usd_price_var != '' %}({{ exchange.usd_price_var }}%){% endif %}</td>
                <td data-label="Volume/(24h)">{{ exchange.btc_volume24h }}</td>
                <td data-label="BTC/Price">{{ exchange.btc_price|stringformat:".8f" }} {% if exchange.btc_price_var != '' %}({{ exchange.btc_price_var }}%){% endif %}</td>
              </tr>
              {% endfor %}   
              
            </tbody>
          </table>
        </div>
    </div>
</div> 