<div class="col-sm">
    <div class="card">
        <div class="card-header">
            Pools
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="row">
                        <div class="col col-4">
                            <img src="https://www.biblepay-central.org//media/filer_public_thumbnails/filer_public/59/02/59020a55-b230-46e8-9d66-e39933631416/mainpool_logo.png__128x128_q85_crop_subsampling-2_upscale.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <a href="https://www.purepool.org" target="_blank" style="font-size: 150%" class="text-info btn-block">Biblepay Pool</a>
                            <p>Offiicial Biblepay Pool</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col col-4">
                            <img src="https://www.biblepay-central.org/media/filer_public_thumbnails/filer_public/8a/ca/8acabf98-b394-4047-9240-49ed55432bed/purepool_icon_central.png__128x128_q85_crop_subsampling-2_upscale.png" class="img-fluid">
                        </div>
                        <div class="col">
                            <a href="https://www.purepool.org" target="_blank" style="font-size: 150%" class="text-info btn-block">Purepool</a>
                            Blocks in 24h: {{ data.pool_blocks }}<br>
                            Overall: {{ data.pool_blocks_percent }} %<br>
                            BBP Mined: {{ data.bbp_mined }}<br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="/en/mining-how-to/" class="btn btn-primary" style="float: right">Read the Mining How-To</a>
        </div>
    </div>
</div>