{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}



{% block content %}
    {% placeholder "header" %}

    <div class="container">
        <div class="row">
        
        <div class="col-md-auto submenuleft">
            <ul>
                {% show_sub_menu 10 1 %}
            </ul>
        </div>

        <div class="col">
            {% placeholder "content" %}
        </div>

    </div>

{% endblock content %}
